/* ===============================
   HOME HERO
================================ */
.home-hero {
  padding: 72px 0;
  background: #ffffff;
}

.home-hero-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 32px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 48px;
}

/* TEXT */
.home-hero-text h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  color: #111827;
  margin-bottom: 20px;
}

.home-hero-text p {
  font-size: 16px;
  color: #6b7280;
  margin-bottom: 28px;
}

/* BUTTON */
.home-btn-primary {
  display: inline-block;
  background: #1f2937;
  color: #ffffff;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.home-btn-primary:hover {
  background: #111827;
}

/* IMAGE */
.home-hero-image {
  display: flex;
  justify-content: center;
}

.home-hero-image img {
  width: 100%;
  max-width: 580px;
}

.features {
  padding: 80px 0;
}

.features.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  align-items: center;
}

/* TEXT */
.features-content h2 {
  font-size: 28px;
  margin-bottom: 12px;
}

.features-content p {
  color: #6b7280;
  max-width: 420px;
}

/* IMAGE */
.feature-card {
  display: flex;
  justify-content: flex-end;
  margin-right: 120px;
}

.feature-card img {
  width: 100%;
  max-width: 200px;
  
}


@media (max-width: 768px) {
  .features.container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .feature-card {
    justify-content: center;
  }

  .features-content p {
    margin: 0 auto;
  }
}
